<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
<Appenders>
    <RollingFile name="RollingFile" fileName="logs/app.log"
                 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
        <PatternLayout>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy interval="6" modulate="true" />
            <SizeBasedTriggeringPolicy size="2 MB"/>
        </Policies>
    </RollingFile>
</Appenders>
<Loggers>
    <Root level="all">
        <AppenderRef ref="RollingFile"/>
    </Root>
</Loggers>
</Configuration>